
body {
	margin-top: 35px;
	background-color: lightgreen;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
img{
	width: 275px;
	height: auto;
}
#navContainer{
	width: 800px;
	text-align: center;
	margin: auto;
}
#navContainer a{
	border: black 1px solid;
	border-bottom: none;
	padding-top: 10px;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 1px;
	text-decoration: none;
}
#navContainer a:hover{
	background-color: black;
	color: white;
}
.button{
	background-color: white;
	color: black;
}
.activeButton{
	background-color: black;
	color: white;
}


#bodyContainer{
	width: 1000px;
	height: auto;
	border: white 1px solid;
	margin: auto;
	background-color: white;
}
h1{
	color: black;
	text-align: center;
}

img {
	float: left;
	margin-right: 30px;
	
} 

	